# Ignore virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Environment/OS specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Ignore data outputs if needed
results/
